version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true

      - run: make image
      - run: make citest

  release_images:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker login -u _json_key -p "$GCR_JSON_KEY" us.gcr.io
      - run: bin/deploy

workflows:
  version: 2
  build_deploy:
    jobs:
      - build_and_test
      - release_images:
          requires:
            - build_and_test
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
notify:
  webhooks:
    - url: https://cc-slack-proxy.herokuapp.com/circle
